.club_cards_section {
  width: 100%;
  position: relative;
  margin-top: rem(150px);

  .main_title {
    text-align: center;
    span {
      left: 17%;
      top: -91%;;
    }
  }
  .container {
    position: relative;
    .club_wrap {
      width: 100%;
      margin-top: rem(85px);
      display: flex;
      position: relative;
      .club_card {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: rem(260px);
        margin-left: rem(30px);
        &:first-child {
          margin-left: 0;
        }
        .card_text {
          color: #1f1f1f;
          font-family: "Lato";
          font-size: rem(17px);
          font-weight: 400;
        }
        .card_price {
          color: #1f1f1f;

          font-size: rem(17px);
          font-weight: 700;
        }
      }
      .club_btn {
        position: absolute;
        top: rem(63px);
        right: rem(-145px);
        transform: rotate(90deg);
        padding: rem(20px) rem(40px);
        border: 3px solid $yellow-color;
        color: #1f1f1f;
        font-size: rem(16px);
        font-weight: 700;
        text-transform: uppercase;
        transition: .4s;
        &:hover {
          background-color: $yellow-color;
          color: #ffffff;
        }
      }
    }
  }
}

/*CARDS SECTION*/
.main_section {
  .main_title {
    z-index: 2;
    text-align: center;
    margin-top: rem(226px);

    span {
      font-size: rem(126px);
      opacity: 0.05;
      position: absolute;
      top: rem(-64px);
      left: rem(216px);
    }
  }
  .container {
    margin-top: rem(120px);
    max-width: rem(1263px);
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: rem(50px);
    z-index: 2;
    .club_wrap {
      background-color: #fff;
      padding: rem(80px) rem(60px) 0;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .club_card {
        margin-bottom: rem(50px);
        flex: 1 1 rem(263px);

      }
    }
    .club_control {
      width: 100%;
      height: 100px;
      background-color: transparent;
      display: flex;
      justify-content: flex-end;
      position: relative;
      align-items: center;
      padding-right: rem(65px);
      &::before {
        @include before_fig(100%, 100%, rgba(255, 255, 255, 0.02));
        top: 0;
        left: 0;
        z-index: -1;
      }
      .icon-left-open, .icon-right-open {
        font-size: rem(25px);
        color: $yellow-color;

      }
      .control_elem {
        position: relative;
        color: #fffcf1;
        font-size: rem(17px);
        font-weight: 700;
        margin-left: rem(25px);
        display: block;
        &.active {
          &::before {
            @include before_fig(rem(17px), rem(3px), $yellow-color);
            bottom: -24%;
            left: -41%;
          }
        }
        &:hover {
          &::before {
            @include before_fig(rem(17px), rem(3px), $yellow-color);
            bottom: -24%;
            left: -41%;
          }
        }
      }
    }
    .club_footer {
      margin-top: rem(60px);
      position: relative;
      display: flex;
      justify-content: space-between;
      padding: 0 rem(80px);

    }
  }
}


