body {
  font-family: 'Proxima Nova';
  font-weight: 400;
  font-style: normal;
  font-size: rem(18px);
}

.container {
  max-width: rem(1170px);
  width: 100%;
  margin: 0 auto;

}

/*social*/
.social {
  display: flex;

  a {
    font-size: rem(30px);
    color: #ffcc01;
    opacity: 0.15;
    transition: 0.3s;

    &:hover {
      opacity: 1;
      transform: scale(1.2);
      transition: 0.3s;
    }
  }
}
/*---------------*/