/*Header*/
.main_head {
  width: 100%;
  height: rem(115px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  background-color: #000000;
  opacity: 0.85;
  display: flex;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .adress {
      font-size: rem(25px);
      color: $yellow-color;
      margin-left: rem(65px);
    }

    span {
      color: #ffffff;
      font-size: rem(20px);
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}

/*btn mobile*/
.btn_mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;

  li {
    width: rem(32px);
    height: 4px;
    background-color: $yellow-color;
    margin: rem(3px) 0;
  }
}

/*MENU*/

.menu {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  padding: rem(115px) 0 rem(95px);
  background: url_css('img/menu-bg.png')no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  visibility: hidden;

  &.active {
    visibility: visible;
  }

  .container {
    position: relative;
    top: 0;
    left: 0;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .menu_head {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .logo {
        max-width: rem(260px);
        width: 100%;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .icon-cancel {
        position: relative;
        width: 53px;
        height: 52px;
        border: 3px solid $yellow-color;
        padding-top: rem(5px);
        display: block;
        color: #ffffff;
        text-align: center;
        font-size: rem(30px);

        &.active {
          .menu {
            visibility: hidden;
            opacity: 0;
          }
        }
      }
    }

    .menu_list {
      width: 100%;
      margin-top: rem(80px);
      column-count: 3;
      display: flex;
      justify-content: space-between;

      .menu_list-item {
        .more_list {
          position: relative;
          color: #f8f8f8;
          margin-top: rem(40px);
          font-weight: 700;
          font-size: rem(30px);
          text-transform: uppercase;

          &:hover {
            .more_list-item {
              visibility: visible;
              margin-top: 0;
              opacity: 1;
              transition: 0.3s;
              z-index: 0;
            }
          }

          &::before {
            @include before_fig(rem(4px), rem(4px), $yellow-color);
            top: rem(15px);
            left: rem(-10px);
          }

          &:first-child {
            padding-top: 0;
          }

          a {
            transition: 0.2s;

            &:hover {
              color: $yellow-color;
            }
          }

          .more_list-item {
            visibility: hidden;
            margin-top: calc(-100% + 139px);
            opacity: 0;
            position: relative;
            z-index: -1;

            li {
              position: relative;
              color: #f8f8f8;
              font-family: 'Lato';
              font-size: rem(16px);
              font-weight: 400;
              text-transform: none;
              padding-top: rem(10px);
              max-width: rem(200px);
              width: 100%;

              a {
                position: relative;
                display: inline-block;
                transition: 0.3s;

                &:hover {
                  color: inherit;

                  &::before {
                    @include before_fig(100%, rem(1px), $yellow-color);
                    bottom: 0;
                  }
                }
              }
            }
          }
        }
      }
    }

    .menu_adress {
      display: flex;
      margin-top: rem(90px);
      justify-content: space-between;
      width: 100%;

      .contacts {
        .adress {
          &:first-child {
            margin-left: 0;
          }

          span {
            color: #ffffff;
          }
        }
      }
    }
  }
}
