/*Header*/
.main_head {
  width: 100%;
  height: rem(115px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  background-color: #000000;
  opacity: 0.85;
  display: flex;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

}

/*btn mobile*/
.btn_mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;

  li {
    width: rem(32px);
    height: 4px;
    background-color: $yellow-color;
    margin: rem(3px) 0;
  }
}

/*MENU*/

.menu {
  position: absolute;
  top: -100%;
  left: 0;
  z-index: 100;
  background: url_css('img/menu-bg.png') no-repeat;
  background-size: cover;
  visibility: hidden;
  opacity: 0;
  transition: .4s;
  width: 100%;
  height: 100vh;
  &.active {
    visibility: visible;
    opacity: 1;
    top: 0;
  }
  &::before {
    @include before_fig(100%, 100%, rgba(37, 36, 36, 0.89));
    z-index: 1;
  }
  .menu_wrap {
    padding-top: rem(100px);
    width: 100%;
    position: relative;
    z-index: 3;
    height: 100%;
    .container {
      overflow-x: auto;
      overflow-y: hidden;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      .menu_head {
        width: 100%;
        .head_elem {
          position: relative;
          width: 100%;
          display: flex;
          justify-content: space-between;
          margin-bottom: rem(50px);
          .logo {
            max-width: rem(263px);
            width: 100%;
            img {
              object-fit: cover;
            }
          }
          i {
            cursor: pointer;
            border: rem(3px) solid $yellow-color;
            width: rem(53px);
            height: rem(52px);
            font-size: rem(50px);
            color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
        .menu_content {
          width: 100%;
          position: relative;
          display: flex;
          justify-content: space-between;
          .menu_elem {
            display: flex;
            flex-direction: column;
            padding: 0 rem(10px);
            .elem {
              display: inline-block;
              min-height: rem(75px);
              position: relative;
              &.active {
                .menu_title {
                  color: $yellow-color;
                }
                .menu_item {
                  height: auto;
                  margin-bottom: rem(10px);
                  opacity: 1;
                  visibility: visible;
                  transition: .3s;
                  transition-delay: .2s;
                }
                .menu_btn_elem {
                  transform: rotate(180deg);
                  color: $yellow-color;
                }
              }
              .menu_title {
                color: #f8f8f8;
                font-family: "Proxima Nova";
                font-size: rem(30px);
                font-weight: 700;
                text-transform: uppercase;
                &::before {
                  @include before_fig(rem(4px), rem(4px), $yellow-color);
                  left: rem(-20px);
                  top: rem(15px);
                }
              }
              .menu_item {
                position: relative;
                max-width: rem(250px);
                height: 0;
                opacity: 0;
                visibility: collapse;
                font-family: "Lato";
                font-size: rem(16px);
                font-weight: 400;
                a {
                  color: #f8f8f8;
                  display: inline-block;
                  margin: rem(6px) 0;
                  position: relative;
                  &:before {
                    @include before_fig(0, rem(1px), $yellow-color);
                    bottom: rem(-4px);
                    left: 0;
                    transition: .3s;
                  }
                  &:hover::before {
                    width: 100%;
                  }
                }
              }
              .menu_btn_elem {
                position: absolute;
                display: none;
                width: rem(25px);
                height: rem(25px);
                text-align: center;
                color: #fff;
                top: 0;
                right: rem(-30px);
                border: solid rem(2px) #ffffff;
                font-size: rem(18px);
                transform: rotate(90deg);
                transition: .3s;
                i {
                  text-align: center;
                  display: block;
                  color: inherit;
                }
              }
            }
          }
        }
      }
      .menu_bottom {
        position: relative;
        left: 0;
        bottom: rem(90px);
        width: 100%;
        display: flex;
        flex: 1 1 100%;
        justify-content: space-between;
        align-items: flex-end;
        flex-wrap: wrap;
      }
    }
  }
}

