@media screen and (max-width: 1700px) {
  //NEWS
  .news_section {
    .news_content {
      .main_line {
        .main_title {
          span {
            top: rem(-45px);
            font-size: rem(85px);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1540px) {
  //CHANGE SECTION
  .change_section {
    .change_img {
      opacity: .2;
      &:nth-child(3) {
        opacity: .2;
      }
    }
    .change_right {
      .change_content {
        background-color: transparent;

      }
    }
  }
}

@media screen and (max-width: 1280px) {
  //HEADER
  .main_head {
    .container {
      padding: 0 rem(15px);
      .head_elem {
        display: flex;
        flex-direction: column;
        a {
          &:first-child {
            margin-bottom: rem(10px);
          }
        }
      }
    }
  }
  //TRAINERS MAIN INFO
  .trainers_main {
    .container {
      .content_trainer {
        padding: 0 rem(15px);
        justify-content: space-around;
      }
    }
  }
  //CHANGE SECTION
  .change_section {
    .change_img {
      &:nth-child(2) {
        max-width: 40%;
        bottom: -9%;
        left: 32%;
      }
    }
  }
  //CLUB CURDS SECTION
  .club_cards_section {
    .main_title {
      span {
        font-size: rem(80px);
      }
    }
    .container {
      max-width: none;
      .club_wrap {
        .btn {
          margin-top: 0;
          top: auto;
          right: auto;
          bottom: -30%;
          left: 50%;
          transform: translate(-50%);
        }
        .club_card {
          flex: 1 1 40%;
          text-align: center;
        }
      }
    }
  }
  //SERVICES SECTION
  .services_section {
    .container {
      .services_content {
        padding: 0 rem(15px);
        justify-content: space-around;
        .services_elem {
          margin-right: 0;

        }
      }
    }

  }
  //CONTACTS
  .contacts_section {
    .container {
      .main_title {
        span {

        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  //SHEDULE SECTION
  .schedule_section, .schedule_main{
    .main_title {
      font-size: rem(40px);
      span {
        font-size: rem(60px);
        left: 24%;
        top: -69%;
      }
    }
    .left_trainer {
      display: none;
    }
    .right_trainer {
      top: 20%;
      opacity: .2;
    }
    .container {
      margin-top: auto;
      padding: 0 rem(50px);
      .schedule_trainers {
        flex-direction: column;
        .schedule_btn {
          flex-direction: row;
          justify-content: center;
          margin-bottom: rem(80px);
          .btn {
            margin-left: rem(30px);
            margin-top: auto;
            &:first-child {
              margin-left: 0;
            }
          }
        }
      }
    }
  }
  //NEWS
  .news_section {
    .news_content {
      .news_wrap {
        .container {
          flex-direction: column;
          .news {
            width: 100%;
            &:nth-child(2) {
              margin-top: 0;
            }
            .news_elem {
              justify-content: center;
            }
          }
        }
      }
    }
  }
  //CLUB CARDS
  .clubs_card {
    .main_title {
      span {
        font-size: rem(80px);
      }
    }
    .container {
      margin-top: auto;
      padding: 0 20px;
      .club_wrap {
        text-align: center;
        padding: rem(40px) rem(20px) 0;
      }
    }
  }
  //FOOTER
  .main_footer {
    .footer_content {
      .container {
        padding: 0 rem(50px);
      }
    }
  }
}

@media screen and (max-width: 1030px) {
  //CLUB CURDS
  .club_cards_section {
    .container {
      .club_wrap {
        .btn {
          bottom: -17%;
        }
      }
    }
  }
  //ARTICLES SECTION
  .articles {
    .articles_content {
      .main_line {
        .main_title {
          font-size: rem(40px);
          span {
            font-size: rem(60px);
            top: rem(-40px);
          }
        }
      }
      .article_wrap {
        padding: rem(100px) 0 rem(80px) 0;
        .container {
          flex-wrap: wrap;
          align-self: flex-start;
          justify-content: space-around;
          .article_elem {
            margin-top: rem(60px);
            margin-bottom: rem(20px);
            &:nth-child(2) {
              margin-top: auto;
            }
            &:last-child {
              margin-top: auto;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .main_section {
    .main_title {
      span {
        display: none;
      }
    }
  }
  .main_head {
    .logo {
      display: none;
    }
  }
}

@media screen and (max-width: 850px) {
  //SERVICES SECTION
  .services_section {
    .main_title {
      span {
        display: none;
      }
    }
  }
  //SChEDULE SECTION
  .schedule_section, .schedule_main{
    .main_title {
      span {
        display: none;
      }
    }
    .container {
      .schedule_trainers {
        .schedule_btn {
          .btn {
            margin-top: auto;
            width: rem(110px);
            margin-left: rem(15px);
          }
        }
        .schedule {
          ul {
            li {
              font-size: rem(12px);
            }
          }
        }
      }
    }
  }

  //CLUB CARDS SECTION
  .club_cards_section {
    .main_title {
      font-size: rem(45px);
      span {
        display: none;
      }
    }
    .container {
      .club_wrap {
        .club_card {
          flex: 1 1 100%;
        }
        .btn {
          bottom: -17%;
        }
      }
    }
  }
  //CLUB CARD
  .clubs_card {
    .main_title {
      span {
        display: none;
      }
    }
  }
  //CHANGE SECTION
  .change_section {
    .change_img {
      &:first-child {
        height: 400px;
      }
      &:nth-child(2) {
        max-width: 50%;
      }

      &:nth-child(3) {
        max-width: 50%;
      }
    }
    .change_right {
      .change_content {
        .main_title {
          span {
            display: none;
          }
        }
      }
    }
  }

  //NEWS
  .news_section {
    .news_content {
      .main_line {
        .main_title {
          font-size: rem(40px);
          span {
            font-size: rem(60px);
            left: rem(-27px);
          }
        }
      }
    }
  }
  //FOOTER
  .main_footer {
    .footer_content {
      .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .footer_text {
          text-align: center;
          margin-bottom: rem(30px);
        }
      }
    }
  }
  //GYM FOOTER
  .gym_footer {
    flex-direction: column;
    align-items: center;
    .main_nav {
      margin-bottom: rem(30px);
    }
  }
  //CONTACTS
  .contacts_section {
    .container {
      .main_title {
        span {
          display: none;
        }
      }
      .content_contacts {
        flex-wrap: wrap;
        .sofia_contacts {
          margin-bottom: rem(30px);
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  //HEADER
  .main_head {
    .container {
      .adress {
        font-size: rem(16px);
        span {
          font-size: rem(15px);
        }
      }
    }
  }
  //SChEDULE SECTION
  .schedule_section, .schedule_main {
    .main_title {
      font-size: rem(30px);
    }
    .container {
      padding: 0 rem(15px);
      .schedule_trainers {
        .schedule_btn {
          .btn {
            font-size: rem(12px);
            width: rem(90px);
            height: rem(40px);
          }
        }
        .schedule {
          ul {
            li {
              font-size: rem(12px);
              text-align: center;
              flex-direction: column;
              height: 40px;
              line-height: 0.8;
              span {
                display: block;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  //CHANGE SECTION
  .change_section {
    min-height: auto;
    .left_change {
      display: none;
    }
    .change_right {
      width: 100%;
      margin: auto;
      left: auto;
      text-align: center;
      padding: 0 rem(20px);
      .change_content {
        .title_item {
          margin-top: rem(25px);
        }
      }
    }
  }
  //NEWS
  .news_section {
    .news_content {
      .news_wrap {
        .container {
          .news {
            .news_elem {
              margin-top: rem(10px);
              flex-direction: column;
              align-items: center;
              align-self: center;
              .elem_img {
                max-width: none;
              }
              .news_text {
                max-width: none;
                align-items: center;
              }
              &:nth-child(2) {
                flex-direction: column-reverse;
              }
            }

          }
        }
      }
    }
  }
  //ARTICLES SECTION
  .articles {
    .articles_content {
      .main_line {
        .main_title {
          span {
            display: none;
          }
        }
      }
      .article_wrap {
        .container {
          padding: rem(15px);
          .article_elem {
            max-width: none;
          }
        }
      }
    }
  }
  //TRAINERS MAIN INFO
  .trainers_main {
    .main_title {
      font-size: rem(40px);
      span {
        display: none;
      }
    }

  }

}

@media screen and (max-width: 518px) {
  .club_cards_section {
    .container {
      .club_wrap {
        .btn {
          bottom: -7%;
        }
      }
    }
  }
}