@media screen and (max-width: 1700px) {
  //NEWS
  .news_section {
    .news_content {
      .main_line {
        .main_title {
          span {
            top: rem(-45px);
            font-size: rem(85px);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1680px) {
  //TRAINERS SLIDE
  .trainers_section {
    .container {
      .slide_trainers {
        .left_services {
          left: 20%;
          bottom: -36%;
        }
        .right_services {
          top: 108%;
          right: 19%;
        }
      }
    }
  }
}

@media screen and (max-width: 1570px) {
  //services slide
  .services {
    .services_slider {
      .services_slider_wrap {
        .right_slide {
          .btn {
            bottom: -16%;
            left: -37%;
            transform: rotate(0);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1540px) {
  //CHANGE SECTION
  .change_section {
    .change_img {
      opacity: .2;
      &:nth-child(3) {
        opacity: .2;
      }
    }
    .change_right {
      .change_content {
        background-color: transparent;

      }
    }
  }
}

@media screen and (max-width: 1476px) {
  //services slide
  .services {
    .services_slider {
      .services_slider_wrap {
        .left_slide {
          .main_title {
            span {
              font-size: rem(80px);
            }
          }
        }
      }
    }
  }
}

//@media screen and (max-width: 1400px) {
//  //MENU
//  .menu {
//    .container {
//      padding: rem(30px) rem(15px) rem(70px);
//      .menu_list {
//        margin-top: rem(30px);
//        .menu_list-item {
//          .more_list {
//            //font-size: 20px;
//          }
//        }
//      }
//    }
//  }
//}

@media screen and (max-width: 1280px) {
  //HEADER
  .main_head {
    .container {
      padding: 0 rem(15px);
      .head_elem {
        display: flex;
        flex-direction: column;
        a {
          &:first-child {
            margin-bottom: rem(10px);
          }
        }
      }
    }
  }
  //MENU
  .menu {
    .menu_wrap {
      padding-top: rem(40px);
      .container {
        padding: 0 rem(15px);
        .menu_head {
          .menu_content {
            .menu_elem {
              .elem {
                .menu_btn_elem {
                  display: block;
                }
              }
            }
          }
        }
        .menu_bottom {
          bottom: rem(50px);
        }
      }
    }
  }
  //VIDEO SLIDE
  .video_wrap {
    .container {
      .video_slide {
        padding: 0 rem(15px);
        flex-wrap: wrap;
        justify-content: center;
        .left_video {
          order: 2;
          flex: 1 1 40%;
        }
        .right_video {
          order: 2;
          flex: 1 1 40%;
          .right_video_elem {

          }
        }
        .top_video {
          order: 1;
          flex: 1 1 100%;
        }
      }
    }
  }
  /*article*/
  .article_section {
    .container_news {
      .article_block_elem {
        .article_item {
          max-width: rem(700px);
        }
      }
    }
  }
  //GYM SECTION
  .gym_section {
    .container {
      z-index: 3;
      .gym_content {
        padding: rem(30px) rem(30px) rem(20px);
        overflow: hidden;
        .gym_text {
          max-width: 100%;
          z-index: 4;
        }
        .gym_content_img {
          width: 100%;
          height: 100%;
          opacity: .1;
          &:first-child {
            bottom: 0;
            right: 0;

          }
          &:nth-child(2) {
            left: 0;
            top: 0;

          }
        }
      }
    }
  }
  //TRAINERS MAIN INFO
  .trainers_main {
    .container {
      .content_trainer {
        padding: 0 rem(15px);
        justify-content: space-around;
      }
    }
  }
  //CHANGE SECTION
  .change_section {
    .change_img {
      &:nth-child(2) {
        max-width: 40%;
        bottom: -9%;
        left: 32%;
      }
    }
  }
  //CLUB CURDS SECTION
  .club_cards_section {
    .main_title {
      span {
        font-size: rem(80px);
      }
    }
    .container {
      max-width: none;
      .club_wrap {
        .btn {
          margin-top: 0;
          top: auto;
          right: auto;
          bottom: -30%;
          left: 50%;
          transform: translate(-50%);
        }
        .club_card {
          flex: 1 1 40%;
          text-align: center;
        }
      }
    }
  }
  //TRAINER INFO
  .trainer_info_section {
    .container {
      padding: 0 rem(15px);
      .content_trainer {
        .trainer {
          .trainer_name {
            text-align: left;
          }
        }
      }
      .video_trainer {
        align-self: center;
        margin-top: rem(50px);
      }
    }
  }
  //SERVICES SECTION
  .services_section {
    .container {
      .services_content {
        padding: 0 rem(15px);
        justify-content: space-around;
        .services_elem {
          margin-right: 0;

        }
      }
    }

  }
  //CONTACTS
  .contacts_section {
    .container {
      .main_title {
        span {

        }
      }
    }
  }
}

@media screen and (max-width: 1208px) {
  //services slide
  .services {
    .services_slider {
      .services_slider_wrap {
        justify-content: center;
        .left_slide {
          width: 100%;
        }
        .right_slide {
          display: none;
        }
        .slider_btn {
          width: rem(170px);
        }
        .left_services {
          bottom: 5%;
          left: 5%;
        }
        .right_services {
          top: auto;
          bottom: 25%;
          right: 5%;
        }

      }
    }
  }
  //SLAIDER MAIN
  .slider_main {
    .container {
      display: flex;
      justify-content: center;
      .slider_content {
        .slider_text_wrap {
          .slider_text {
            .slider_title {
              font-size: rem(60px);
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .menu {
    .menu_wrap {
      .container {
        .menu_content {
          .menu_elem {
            .elem {
              &:hover {
                .menu_title {
                  color: $yellow-color;
                }
                .menu_item {
                  visibility: visible;
                  opacity: 1;
                  transition: .3s;
                  transition-delay: .2s;
                  height: auto;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  //PROGRAMS
  .programs_section {
    .container {
      padding: 0 rem(15px);
      .programs_content {
        .programs_elem {
          margin-left: 0;
        }
      }
    }
  }
  //GALLERY PHOTO
  .gallery_section {
    .container {
      .photo_wrap {
        padding: 0 rem(15px);
        .photo_elem {
          flex: 1 1 45%;
          height: 300px;
        }
      }
    }
  }
  //TRAINERS SLIDE
  .trainers_section {
    .container {
      .slide_trainers {
        .trainers_elem {
          flex: 1 1 rem(300px);
        }
      }
    }
  }
  //SCHEDULE SECTION
  .schedule_section, .schedule_main {
    .main_title {
      font-size: rem(40px);
      span {
        font-size: rem(60px);
        left: 24%;
        top: -69%;
      }
    }
    .left_trainer {
      display: none;
    }
    .right_trainer {
      top: 20%;
      opacity: .2;
    }
    .container {
      margin-top: auto;
      padding: 0 rem(50px);
      .schedule_trainers {
        flex-direction: column;
        .schedule_btn {
          flex-direction: row;
          justify-content: center;
          margin-bottom: rem(80px);
          .btn {
            margin-left: rem(30px);
            margin-top: auto;
            &:first-child {
              margin-left: 0;
            }
          }
        }
      }
    }
  }
  //NEWS
  .news_section {
    .news_content {
      .news_wrap {
        .container {
          flex-direction: column;
          .news {
            width: 100%;
            &:nth-child(2) {
              margin-top: 0;
            }
            .news_elem {
              justify-content: center;
            }
          }
        }
      }
    }
  }
  //CLUB CARDS
  .clubs_card {
    .main_title {
      span {
        font-size: rem(80px);
      }
    }
    .container {
      margin-top: auto;
      padding: 0 20px;
      .club_wrap {
        text-align: center;
        padding: rem(40px) rem(20px) 0;
      }
    }
  }
  //FOOTER
  .main_footer {
    .footer_content {
      .container {
        padding: 0 rem(50px);
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  //DIRECTIONS
  .directions {
    .container {
      .direction_wrap {
        margin-left: rem(30px);
        ul {
          li {
            margin-left: rem(40px);
          }
        }
        p {
          max-width: 100%;
        }
      }
    }
  }
  //MENU
  .menu {
    .menu_wrap {
      .container {
        overflow-x: scroll;
        overflow-y: hidden;
        .menu_head {
          .menu_content {
            flex-direction: column;
            .menu_elem {
              .elem {
                min-height: rem(30px);
                max-width: rem(400px);
                width: 100%;
              }
            }
          }
        }
        .menu_bottom {
          bottom: 0;
          .bootom_elem {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }
  //VIDEO SLIDE
  .video_wrap {
    .container {
      .video_slide {
        .left_video, .right_video {

        }
        .top_video {
          width: 100%;
        }
      }
    }
  }
  //NEWS SECTION
  .main_section {
    .container_news {
      .container_news_wrap {
        .news_elem {
          max-width: calc(50% - 22px);
          &:nth-child(even) {
            &::before {
              width: 22px;
              right: -22px;
            }
          }
          &:nth-child(odd) {
            &::before {
              width: 22px;
              left: -22px;
            }

          }
        }
      }
    }
  }
}

@media screen and (max-width: 1030px) {
  //CLUB CURDS
  .club_cards_section {
    .container {
      .club_wrap {
        .btn {
          bottom: -17%;
        }
      }
    }
  }
  //TRAINER INFO
  .trainer_info_section {
    .container {
      .content_trainer {
        flex-direction: column;
        align-items: center;
        .trainer_info {
          margin-top: rem(50px);
        }
      }
      .video_trainer {
        align-self: center;
        margin-top: rem(50px);
      }
    }
  }
  //ARTICLES SECTION
  .articles {
    .articles_content {
      .main_line {
        .main_title {
          font-size: rem(40px);
          span {
            font-size: rem(60px);
            top: rem(-40px);
          }
        }
      }
      .article_wrap {
        padding: rem(100px) 0 rem(80px) 0;
        .container {
          flex-wrap: wrap;
          align-self: flex-start;
          justify-content: space-around;
          .article_elem {
            margin-top: rem(60px);
            margin-bottom: rem(20px);
            &:nth-child(2) {
              margin-top: auto;
            }
            &:last-child {
              margin-top: auto;
            }
          }
        }
      }
    }
  }
  //LOSING WEIGHT
  .losing_weight {
    padding: rem(30px) 0;
    flex-direction: column;
    align-items: center;
    .left_losing_weight {
      .left_img {
        opacity: .1;
        margin-top: 0;
        left: 29%;
        top: 2%;
      }
      .left_losing_content {
        .losing_img_left {
          opacity: .1;
          margin-top: 0;
          z-index: -1;
          left: 42%;
          top: 44%;
          position: absolute
        }
      }
    }
    .right_losing_weight {
      margin-top: rem(30px);
      .right_img {
        z-index: -2;
        left: -52%;
        top: -19%;
        opacity: .1;
      }
      .right_losing_content {
        .losing_img {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .main_section {
    .main_title {
      span {
        display: none;
      }
    }
  }
  .main_head {
    .logo {
      display: none;
    }
  }
  .video_wrap {
    .main_title {
      font-size: rem(40px);
      span {
        display: none;
      }
    }
  }
  //DIRECTIONS
  .directions {
    .container {
      h2 {
        text-align: center;
      }
      .direction_wrap {
        margin-left: 0;
        padding: 0 rem(15px);
        ul {
          flex-direction: column;
          align-items: center;
          li {
            margin-left: 0;
            margin-bottom: rem(10px);
          }
        }
      }
    }
  }
  /*article*/
  .article_section {
    .container_news {
      .article_block_elem {
        justify-content: flex-end;
        .article_item {
          max-width: rem(500px);
          opacity: .7;
          h4 {
            font-size: rem(25px);
          }
          .article_date {
            max-width: rem(300px);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  //PROGRAMS
  .programs_section {
    .main_title {
      font-size: rem(40px);
      span {
        display: none;
      }
    }
  }
  //LOSING WEIGHT
  .losing_weight {
    .left_losing_weight {
      width: 80%;
      .left_losing_content {
        max-width: none;
        width: 100%;
      }
    }
    .right_losing_weight {
      width: 80%;
      .right_img {
        left: 5%;
        top: 0;
        height: 100%;
      }
      .right_losing_content {
        .losing_text {
          max-width: none;
        }
      }
    }
  }
  //SERVICES SECTION
  .services_section {
    .main_title {
      span {
        display: none;
      }
    }
  }
  //GYM SECTION
  .gym_section {
    .main_title {
      font-size: rem(40px);
      span {
        display: none;
      }
    }
  }
  //TRAINER INFO
  .trainer_info_section {
    .trainer_slide {
      .photo_head {
        margin-right: 0;
      }
      .slide_trainer_content {
        margin-bottom: rem(70px);
        .slider_btn {
          top: 100%;
          width: rem(170px);
        }
      }
    }
  }
  //SChEDULE SECTION
  .schedule_section, .schedule_main {
    .main_title {
      span {
        display: none;
      }
    }
    .container {
      .schedule_trainers {
        .schedule_btn {
          .btn {
            margin-top: auto;
            width: rem(110px);
            margin-left: rem(15px);
          }
        }
        .schedule {
          ul {
            li {
              font-size: rem(12px);
            }
          }
        }
      }
    }
  }

  //CLUB CARDS SECTION
  .club_cards_section {
    .main_title {
      font-size: rem(45px);
      span {
        display: none;
      }
    }
    .container {
      .club_wrap {
        .club_card {
          flex: 1 1 100%;
        }
        .btn {
          bottom: -17%;
        }
      }
    }
  }
  //CLUB CARD
  .clubs_card {
    .main_title {
      span {
        display: none;
      }
    }
  }
  //services slide
  .services {
    .services_slider {
      .services_slider_wrap {
        .left_slide {
          .main_title {
            span {
              display: none;
            }
          }
        }
      }
    }
  }
  //CHANGE SECTION
  .change_section {
    .change_img {
      &:first-child {
        height: 400px;
      }
      &:nth-child(2) {
        max-width: 50%;
      }

      &:nth-child(3) {
        max-width: 50%;
      }
    }
    .change_right {
      .change_content {
        .main_title {
          span {
            display: none;
          }
        }
      }
    }
  }

  //NEWS
  .news_section {
    .news_content {
      .main_line {
        .main_title {
          font-size: rem(40px);
          span {
            font-size: rem(60px);
            left: rem(-27px);
          }
        }
      }
    }
  }
  //FOOTER
  .main_footer {
    .footer_content {
      .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .footer_text {
          text-align: center;
          margin-bottom: rem(30px);
        }
      }
    }
  }
  //GYM FOOTER
  .gym_footer {
    flex-direction: column;
    align-items: center;
    .main_nav {
      margin-bottom: rem(30px);
    }
  }
  //CONTACTS
  .contacts_section {
    .container {
      .main_title {
        span {
          display: none;
        }
      }
      .content_contacts {
        flex-wrap: wrap;
        .sofia_contacts {
          margin-bottom: rem(30px);
        }
      }
    }
  }
  //NEWS SECTION
  .main_section {
    .container_news {
      .container_news_wrap {
        .center_line {
          left: 94%;
        }
        .news_elem {
          max-width: calc(100% - 62px);
          flex: 1 1 100%;
          .elem_img {
            max-width: 45%;
          }
          .news_text {
            max-width: 55%;
          }

          &:nth-child(even) {
            top: auto;
          }
          &:nth-child(odd) {
            justify-content: flex-start;
            &::before {
              right: -22px;
              left: auto;
            }

          }
        }
      }
    }
  }
}

@media screen and (max-width: 712px) {
  //services slide
  .services {
    .services_slider {
      .services_slider_wrap {
        justify-content: center;
        .left_slide {
          height: 730px;
          .left_line {
            display: none;
          }
        }
        .right_slide {
          display: none;
        }
        .slider_btn {
          background-color: rgba(255, 204, 1, .5);
          width: 130px;
          height: 100px;
        }
        .left_services {
          bottom: 0;
          left: 0;
        }
        .right_services {
          bottom: 0;
          right: 0;
        }

      }
    }
  }
  //SLAIDER MAIN
  .slider_main {
    .container {
      .slider_content {
        .slider_bottom {
          .bottom_left {
            flex-direction: column;
            justify-content: center;
            .btn {
              width: 350px;
            }
            .bottom_discover {
              margin-top: rem(30px);
              margin-left: 0;
            }
          }
        }
        .slider_text_wrap {
          text-align: center;
          margin-bottom: rem(50px);
          .slider_text {
            .slider_title {
              font-size: rem(40px);
            }
          }
        }
      }
    }
  }
  //VIDEO SLIDE
  .video_wrap {
    .container {
      .video_slide {
        .left_video {
          max-width: rem(100px);
          .slider_btn {
            width: rem(90px);
          }
        }
        .right_video {
          max-width: rem(120px);
          .slider_btn {
            width: rem(90px);
          }
        }

      }
    }
  }
}

@media screen and (max-width: 650px) {
  //HEADER
  .main_head {
    .container {
      .adress {
        font-size: rem(16px);
        span {
          font-size: rem(15px);
        }
      }
    }
  }
  /*article*/
  .article_section {
    .container_news {
      .article_block_elem {
        .article_item {
          padding: rem(10px);
          max-width: rem(290px);
          height: rem(150px);
          h4 {
            font-size: rem(12px);
          }
          .article_date {
            max-width: rem(250px);
          }
        }
      }
    }
  }

  //SChEDULE SECTION
  .schedule_section, .schedule_main {
    .main_title {
      font-size: rem(30px);
    }
    .container {
      padding: 0 rem(15px);
      .schedule_trainers {
        .schedule_btn {
          .btn {
            font-size: rem(12px);
            width: rem(90px);
            height: rem(40px);
          }
        }
        .schedule {
          ul {
            li {
              font-size: rem(12px);
              text-align: center;
              flex-direction: column;
              height: 40px;
              line-height: 0.8;
              span {
                display: block;
              }
            }
          }
        }
      }
    }
  }

}

@media screen and (max-width: 600px) {
  //CHANGE SECTION
  .change_section {
    min-height: auto;
    .left_change {
      display: none;
    }
    .change_right {
      width: 100%;
      margin: auto;
      left: auto;
      text-align: center;
      padding: 0 rem(20px);
      .change_content {
        .title_item {
          margin-top: rem(25px);
        }
      }
    }
  }
  //GALLERY PHOTO
  .gallery_section {
    .main_title {
      font-size: rem(40px);
      span {
        display: none;
      }
    }
    .container {
      .photo_wrap {
        padding: 0 rem(15px);
        .photo_elem {
          flex: 1 1 100%;
        }
      }
    }
  }
  //NEWS
  .news_section {
    .news_content {
      .news_wrap {
        .container {
          .news {
            .news_elem {
              margin-top: rem(10px);
              flex-direction: column;
              align-items: center;
              align-self: center;
              .elem_img {
                max-width: none;
              }
              .news_text {
                max-width: none;
                align-items: center;
              }
              &:nth-child(2) {
                flex-direction: column-reverse;
              }
            }

          }
        }
      }
    }
  }
  //ARTICLES SECTION
  .articles {
    .articles_content {
      .main_line {
        .main_title {
          span {
            display: none;
          }
        }
      }
      .article_wrap {
        .container {
          padding: rem(15px);
          .article_elem {
            max-width: none;
          }
        }
      }
    }
  }
  //TRAINERS MAIN INFO
  .trainers_main {
    .main_title {
      font-size: rem(40px);
      span {
        display: none;
      }
    }

  }

}

@media only screen and (min-width: 320px) and (max-height: 640px) {
  .slider_main {
    .container {
      .slider_content {
        height: auto;
      }
    }
  }
}

@media screen and (max-width: 518px) {
  //MENU
  .menu {
    .menu_wrap {
      .container {
        .menu_head {
          .menu_content {
            .menu_elem {
              .elem {
                max-width: rem(250px);
                .menu_title {
                  font-size: rem(20px);
                }
              }
            }
          }
        }
        .menu_bottom {
          bottom: rem(20px);
          justify-content: center;
        }
      }
    }
  }
  //PROGRAMS
  .programs_section {
    .container {
      .programs_content {
        .programs_elem {
          .programs_img {
            h2 {
              font-size: rem(15px);
            }
          }
          .programs_text {
            padding: rem(30px);
            .programs_btn {
              .btn {
                width: rem(130px);
              }

            }
          }
        }
      }
    }
  }
  //CLUB CARD
  .club_cards_section {
    .container {
      .club_wrap {
        .btn {
          bottom: -7%;
        }
      }
    }
  }
  //SLIDER TRAINERS
  .trainer_info_section {
    .trainer_slide {
      .slide_trainer_content {
        .slider_btn {
          width: rem(115px);
        }
      }
    }
  }
  //SERVICES SECTION
  .services_section {
    .container {
      .services_content {
        .services_elem {
          .elem_item {
            h3 {
              font-size: rem(18px);
            }
            .btn_elem {
              .btn {
                width: rem(115px);
                font-size: rem(13px);
              }
            }
          }
        }
      }
    }
  }
}