//news section
.news_section {
  position: relative;
  width: 100%;
  margin-top: rem(120px);
  overflow: hidden;
  .parallax {
    position: absolute;
  }
  .news_content {
    width: 100%;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    .main_line {
      .main_title {
        span {
          left: rem(53px);
          top: rem(-80px);
        }
      }
    }
    .news_wrap {
      padding: rem(280px) 0;
      .container {
        padding: 0 rem(5px);
        position: relative;
        z-index: 3;
        display: flex;
        justify-content: space-between;
        align-self: center;
        .news {
          display: flex;
          flex-direction: column;
          width: 50%;
          &:nth-child(2) {
            margin-top: rem(180px);
          }
        }
      }
    }
  }
}

//end news section

//news club
.main_section {
  .container_news {
    .container_news_wrap {
      padding: 0 rem(15px);
      margin-top: rem(60px);
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .news_elem {

        display: flex;
        width: calc(50% - 80px);
        margin-bottom: rem(60px);
        height: rem(320px);
        .news_text {
          padding-right: rem(50px);
          max-width: rem(355px);
          width: 100%;
          a {
            align-self: flex-end;
          }
        }
        &:nth-child(even) {
          justify-content: flex-start;
          top: rem(70px);
          &::before {
            @include before_fig(rem(130px), rem(3px), $yellow-color);
            top: 50%;
            right: rem(-79px);
            opacity: 0.25;
            z-index: -1;
          }
        }
        &:nth-child(odd) {
          justify-content: flex-end;
          &::before {
            @include before_fig(rem(130px), rem(3px), $yellow-color);
            top: 50%;
            left: rem(-79px);
            opacity: 0.25;
            z-index: -1;
          }
        }
      }
      .center_line {
        width: rem(3px);
        background-color: $yellow-color;
        height: 90%;
        z-index: -1;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%);
      }
    }
  }
}