/*Trainers slide*/
.trainers_section {
  .main_title {
    margin-top: rem(140px);
    text-align: center;
    z-index: 2;
    span {
      left: 23%;
      top: -76%;
      opacity: 0.03;
    }
  }
  .container {
    position: relative;
    margin-top: rem(130px);
    padding-bottom: rem(180px);
    .slide_trainers {
      position: relative;
      width: 100%;
      z-index: 3;
      display: flex;

      .left_services {
        bottom: 27%;
        left: -20.1%;
      }
      .right_services {
        right: -20.1%;
      }

    }
  }
}

/*trainers*/
.trainers_main {
  position: relative;
  width: 100%;
  overflow: hidden;
  &::before {
    @include before_fig(100%, 100%, rgba(6, 6, 6, 0.92));
    top: 0;
    left: 0;
    z-index: 1;
  }
  .parallax {
    position: absolute;
  }
  .main_title {
    margin-top: rem(200px);
    text-align: center;
    z-index: 3;
    span {
      left: 8%;
      top: -94%;
    }
  }
  .container {
    margin-top: rem(140px);
    position: relative;
    z-index: 3;
    .content_trainer {
      width: 100%;
      margin-top: rem(100px);
      display: flex;
      flex-wrap: wrap;
      .trainers_elem {
        margin-bottom: rem(100px);
      }
    }
  }
}