/*Trainers slide*/
.trainers_section {
  .main_title {
    margin-top: rem(140px);
    text-align: center;
    z-index: 2;
    span {
      left: 23%;
      top: -76%;
      opacity: 0.03;
    }
  }
  .container {
    position: relative;
    margin-top: rem(130px);
    padding-bottom: rem(180px);
    .slide_trainers {
      position: relative;
      width: 100%;
      z-index: 3;
      display: flex;

      .left_services {
        bottom: 27%;
        left: -20.1%;
      }
      .right_services {
        right: -20.1%;
      }

    }
  }
}

/*trainers*/
.main_section {
  .container {
    .trainers_content {
      position: relative;
      width: 100%;
      z-index: 3;
      display: flex;
      flex-wrap: wrap;
      .trainers_elem {
        margin-bottom: rem(100px);
      }
    }
  }
}